
:root {
    --blue-400: #51a2ff;

    --green-400: #05df72;

    --red-400: #ff6467;
    --red-500: #fb2c36;

    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cad5e2;
    --slate-400: #90a1b9;
    --slate-500: #62748e;
    --slate-600: #45556c;
    --slate-700: #314158;
    --slate-800: #314158;
    --slate-900: #0f172b;
    --slate-950: #020618;

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-xl: 24px;

    --shadow-md: 0px 2px 4px rgba(0, 0, 0, 0.1);
}